{
  "openapi": "3.1.0",
  "info": {
    "title": "epilot Zapier App",
    "version": "1.0.0",
    "contact": {
      "name": "epilot GmbH",
      "url": "https://epilot.cloud"
    },
    "description": "Use the Zapier platform with 7,000+ integrations to together with epilot XRM."
  },
  "servers": [
    {
      "url": "https://zapier.sls.epilot.io"
    }
  ],
  "tags": [
    {
      "name": "hooks"
    }
  ],
  "paths": {
    "/hooks/receive": {
      "post": {
        "operationId": "receiveHook",
        "summary": "receiveHook",
        "description": "Receive an automation action from epilot to forward to zapier",
        "tags": [
          "hooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp of the action",
                    "example": "2023-10-01T12:00:00Z"
                  },
                  "data": {
                    "type": "object",
                    "description": "The data to be forwarded to the zapier trigger",
                    "properties": {
                      "org_id": {
                        "type": "string",
                        "description": "The id of the epilot organization",
                        "example": "123"
                      },
                      "action_config": {
                        "type": "object",
                        "properties": {
                          "subscriptionId": {
                            "type": "string",
                            "description": "The id of the selected subscription for the automation action",
                            "example": "58b9aa09-969e-4d46-8d4b-8f6c0aa91de8"
                          }
                        },
                        "required": [
                          "subscriptionId"
                        ]
                      }
                    },
                    "required": [
                      "org_id",
                      "action_config"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Received successfully"
          },
          "400": {
            "description": "Bad request, missing required fields or invalid data"
          },
          "401": {
            "description": "Unauthorized, invalid or missing access token"
          },
          "403": {
            "description": "Forbidden, insufficient permissions"
          },
          "404": {
            "description": "Not found, organization or subscription not found"
          }
        }
      }
    },
    "/hooks/subscriptions": {
      "get": {
        "operationId": "listHookSubscriptions",
        "summary": "listHookSubscriptions",
        "description": "List all hook subscriptions for an organization",
        "tags": [
          "hooks"
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  },
                  "required": [
                    "subscriptions"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/hooks/subscribe": {
      "post": {
        "operationId": "subscribeHook",
        "summary": "subscribeHook",
        "description": "Subscribe a zapier trigger hook",
        "tags": [
          "hooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "description": "The url of the zapier trigger hook",
                    "format": "uri"
                  },
                  "zapId": {
                    "type": "string",
                    "description": "The id of the zapier zap integration",
                    "example": "58b9aa09-969e-4d46-8d4b-8f6c0aa91de8"
                  },
                  "triggerName": {
                    "type": "string",
                    "description": "The user provided name of the zapier trigger"
                  },
                  "isTestingAuth": {
                    "description": "Whether this is a temporary subscription for testing the auth flow",
                    "type": "boolean"
                  },
                  "isLoadingSample": {
                    "description": "Whether this is a temporary subscription for loading the sample integration",
                    "type": "boolean"
                  }
                },
                "required": [
                  "hookUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscribed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/hooks/unsubscribe": {
      "delete": {
        "operationId": "unsubscribeHook",
        "summary": "unsubscribeHook",
        "description": "Unsubscribe a zapier trigger hook",
        "tags": [
          "hooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the subscription",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The id of the subscription",
              "example": "58b9aa09-969e-4d46-8d4b-8f6c0aa91de8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "components": {
    "schemas": {
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the subscription",
            "type": "string"
          },
          "triggerName": {
            "description": "The user provided name for the zapier trigger",
            "type": "string"
          },
          "zapId": {
            "description": "The id of the zapier zap integration",
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "createdAt"
        ]
      }
    },
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header with epilot access token",
        "bearerFormat": "JWT"
      }
    }
  }
}
